//fonts
$fontTitle: Roboto, sans-serif
$fontContent: Roboto, sans-serif
//colors
$txt_gray: #545454
$txt_darkgray: #333333
$gray_common: #808080
$blue: #6da8cd
$green: #6DCD9A
$orange: #F5785F


//breakpoints
$break_lg: 1600px
$break_md: 1200px
$break_sm: 992px
$break_xs: 768px